body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #d6b8ff;
    display: flex;
}

.sidebar {
    width: 240px;
    background: #2b1f29;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

.sidebar-section {
    margin-bottom: 35px;
}

.sidebar-section h3 {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.sidebar button {
    width: 100%;
    background: #3b313d;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    text-align: left;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    padding: 40px;
    box-sizing: border-box;
}

.top-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.top-buttons button {
    background: #9c8fa6;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.profile-btn {
    float: right;
    margin-top: -50px;
    background: black;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    margin-top: 0;
    opacity: 0.6;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}   

.btn-anim:hover {
    transform: scale(1.07);
    transition: 0.2s;
}


.img-anim:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.click-bounce {
    animation: bounce 0.2s linear;
}

@keyframes bounce {
    0% { transform: scale(1); }
    40% { transform: scale(0.90); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
